<h1>Selectores Anidados</h1>
<hr>

<form [formGroup]='miForm' (ngSubmit)="guardar()">
    <!-- Continentes -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continente:</label>
            <select class="form-control"
                    formControlName='region'>
                <option value="">-- Seleccione Continente --</option>
                <option *ngFor="let item of regiones"
                        [value]="item | lowercase">{{item}}</option>
            </select>
        </div>
    </div>

    <!-- Paises -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">País:</label>
            <select class="form-control"
                    formControlName='pais'>
                <option value="">-- Seleccione País --</option>
                <option *ngFor="let item of paises"
                        [value]="item.alpha3Code| lowercase">{{item.name}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="submit">Selecionar</button>
        </div>
    </div>

</form>


<h3>Fromulario</h3>
<pre>Valid: {{miForm.valid}}</pre>
<pre>{{miForm.value |json}}</pre>